<div class="auth">
    <div class="auth_block">
        <div class="auth_block_name-style">{{auctionName}}</div>
        <div class="auth_block_tagline">{{tagline}}</div>
        <div>
            <input pInputText type="text"
                   [placeholder]="usernamePlaceholder"
                   class="auth_block_input-style">
        </div>
        <div>
            <input pPassword type="password"
                   [placeholder]="passwordPlaceholder"
                   class="auth_block_input-style"
                   [feedback]="false"
            >
        </div>
        <div style="padding-left: 28%">
            <button pButton type="button" [label]="signIn" class="ui-button-warning"></button>
            <button pButton type="button" (click)="onClick()" [label]="signUp" class="ui-button-warning"></button>
        </div>
    </div>
</div>
